NEXT_PUBLIC_SUPABASE_URL=https://snsgpfsylwabppoypluc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_TL64H9n4SW4C6TxEQBFwgg_thPAevW8
SUPABASE_SERVICE_ROLE_KEY=sb_secret_2gUZ6_paste_secret_key_anda_di_sini
